@import '../../bower_components/bourbon/app/assets/stylesheets/_bourbon';
@import '../partials/_variables';
@import '../partials/_layout';
@import '../partials/_mixins';

.footer {
    max-width: 1180px;
    margin: auto;
    padding: 5vh 1vh;
    background-color: #efdecd;
    @include MDShadow-1;
}

.footer .container_flex-row {
    background-color: $main-elm;
    padding: 30px;
    @include MDShadow-1;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 49%;

    &__text {
        display: inline-block;
        vertical-align: middle;
    }

    &__list {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        width: 50%;
    }

    &__item {
        display: inline-block;
    }

    &__link {
        padding: 8px 8px 10px;
        font-size: 2rem;
        color: $main-elm;
        background-color: #5d80a6;
        transition: 0.3s ease-in-out;
        @include MDShadow-1;

        &:hover {
            @include MDShadow-2;
        }
    }
}

.feedback {
    flex: 1 1 49%;
    text-align: center;
    padding: 10px;

    &__button {
        display: inline-block;
        width: 50%;
        padding: 10px;
        font-size: 1.4rem;
        color: $main-elm;
        background-color: $second-elm;
        border: none;
        transition: 0.3s ease-in-out;
        @include MDShadow-1;

        &:hover {
            @include MDShadow-2;
        }
    }
}

.requisites {
    display: flex;
    flex: 1 1 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
    padding-top: 3vh;

    &__column {
        flex: 1 1 25%;
        text-align: center;
    }

    &__list {}

    &__name {
        font-size: 1.2rem;
        line-height: 1.5em;
    }

    &__item {}

    &__text {}

    &__mail {}
}
