@import '../partials/_variables';
@import '../partials/_layout';
@import '../partials/_mixins';

@include MQ(Tp) {
    .feedback {
        flex: 1 1 50%;
        padding: 1.5rem 0;

        &__button {
            width: 100%;
        }
    }
};
