/*!
Main Styles
*/

@import '../partials/_variables';

/*Fonts Settings*/

@each $hs,
$font-parametrs in
	( 1, 600 48px $main-font),
	( 2, 600 40px $main-font),
	( 3, 600 36px $main-font),
	( 4, 500 32px $main-font),
	( 5, 500 24px $second-font),
	( 6, 500 20px $second-font) {
	h#{$hs} {
		padding: 0;
		margin: 0;
		font: #{$font-parametrs};
		color: $grayed;
	}
}

a,
p,
span,
.requisites__item {
	font-family: $second-font;
	color: $second-elm;
	line-height: 1.4rem;
	text-decoration: none;
	word-break: normal;
	padding: 5px 0;
	margin: 0;
}

a:visited {
	color: mix(#ecf0f1, $second-elm, 25%);
}
