@import '../bower_components/bourbon/app/assets/stylesheets/_bourbon';
@import "layout/fonts";
@import "layout/form--2";
@import "layout/resets";
@import "libs/burger";
html,
body {
	width: 100%;
	height: 100%
}

.main {
	z-index: $content-zindex;
	width: 100%;
	max-width: 1180px;
	margin: 95vh auto 1vh;
	padding: 5vh 0;
	background-color: #efdecd
}

.container_flex-column {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-content: center;
	align-self: center;
    width: 90%;
    margin: 0 auto;
}

.container_flex-row {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	align-self: center;
    width: 90%;
    margin: 0 auto;
}

@include waves-light( $main-elm, $ripple-opacity);
@include waves-dark( $second-elm, $ripple-opacity);

svg:not(:root) {
	overflow: visible
}

//	Import Sections
@import 'sections/header';
@import 'sections/footer';
@import 'sections/sidebar';
@import 'sections/webeor'
